# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
my_first_py_env/
my_venv_2/

requirements.txt
get_request_data.txt

# Logs
*.log

# IDEs
.vscode/
.idea/

# add only .py files inside 15_file_handling
# Ignore everything in the folder
15_file_handling/**

# Except Python files in all subfolders
!15_file_handling/**/*.py

18_hands_on_projects/**/*.pdf

#app build & dist
build/
dist/

# Ignore everything inside the folder
# 18_hands_on_projects/05_drink_water_reminder/*
18_hands_on_projects/08_QR_Code_generator/qr-gen/*

# Keep folders (so structure is preserved)
!18_hands_on_projects/08_QR_Code_generator/**/

