<!-- Navbar -->
<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Flask App</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'main.home' else '' }}" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'main.about' else '' }}" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'main.services' else '' }}" href="/services">Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'main.contact' else '' }}" href="/contact">Contact</a>
          </li>
        </ul>

        <span class="navbar-text me-3">
          {% if current_user %}
            <span>Welcome {{ current_user }}</span>
          {% endif %}
        </span>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <span style="padding: 0 20px;">
          {% if current_user %}
          <a href="{{ url_for('auth.logout') }}">Logout</a>
          {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a>
          {% endif %}
        </span>
        
      </div>
    </div>
</nav>